<section class="section">
  <div class="section-body">
    <div class="card">
      <div class="card-body">
        <%%= render 'form', <%= singular_table_name %>: @<%= singular_table_name %> %>
      </div>
    </div>
  </div>
</section>

<%%= link_to icon('fas fa-arrow-left', 'Back'), 'javascript:history.back()', class: 'btn btn-icon icon-left btn-secondary d-mobile-none' %>

<%% content_for(:page_title, 'New <%= singular_table_name.titleize %>') %>